<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <% include head.ejs %>
  </head>

  <body>
    <% include mainNavbar.ejs %>
    <!-- Main Page Content -->
    <div class="container-fluid full-height main-panel">
        <h1>404 Error: You ain't supposed to be here, hombre </h1>
    </div>
  </body>
</html>
