<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head.ejs %>
  </head>
  <body>
    <% include navbar.ejs %>

    <!-- Master container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <h1>Stuff</h1
          <p>Lorem ipsum...</p>
        </div>

        <!-- Add item fields -->
        <div class="col-lg-10">
          <h1>Stuff</h1
          <div class="container-fluid">
            <form>

              <!-- Item Title -->
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Item Name</span>
                <input type="text" class="form-control" placeholder="Item_Name" aria-describedby="sizing-addon1">
              </div>

              <!-- Item Tags -->
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="sizing-addon1">Item Tag(s)</span>
                <input type="text" class="form-control" placeholder="THIS DUNDU NUFFIN" aria-describedby="sizing-addon1">
              </div>

              <!-- Items Data -->
              <div class="form-group">
                <label for="formGroupExampleInput2">Another label</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
